body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.error-message {
  color: red; /* Change this color as needed */
  margin-top: 5px;
}
.sucess-message {
  color: green; /* Change this color as needed */
  margin-top: 5px;
}
