.navbar {
  background-color: white; /* White background */
  border-bottom: 2px solid #7450d4; /* Bottom border for effect */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: ltr; /* or set to rtl if you want it to stay in RTL mode */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin: 0 15px;
  text-decoration: none;
  color: #7450d4; /* Secondary color */
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #e47105; /* Hover color */
}

.navbar-button {
  background-color: transparent; /* Remove background color */
  color: #271f43; /* Text color matches original background color */
  border: 2px dotted #271f43; /* Dotted border with original color */
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s, color 0.3s; /* Transition on border color and text color */
}
.back-button {
  background-color: transparent; /* Remove background color */
  color: #271f43; /* Text color matches original background color */
  border: 2px dotted #271f43; /* Dotted border with original color */
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s, color 0.3s; /* Transition on border color and text color */
}
.back-button:hover {
  background-color: #271f43; /* Button hover color */
  color: white; /* Text color matches original background color */
}

.navbar-button:hover {
  background-color: #271f43; /* Button hover color */
  color: white; /* Text color matches original background color */
}

.logout-button {
  background-color: #7450d4; /* Logout button color */
  border: none;
  color: white;
}
/*
#271f43
#7450d4 
#5a3ea5
*/
.logout-button:hover {
  background-color: #271f43; /* Logout button hover color */
}
.menu-toggle {
  display: none; /* Hide by default */
  font-size: 24px;
  background: none;
  border: none;
  color: #271f43; /* Toggle button color */
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show on mobile */
  }
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px; /* Below navbar */
    right: 0;
    background-color: white; /* White background for dropdown */
    width: 100%;
    border: 1px solid #7450d4; /* Border for dropdown */
    display: none; /* Hidden by default */
    z-index: 999;
  }

  .navbar-links.active {
    display: flex; /* Show on active */
  }

  .navbar-link {
    margin: 10px 0; /* Space between links */
  }

  .navbar-button {
    width: 90%; /* Full width for buttons */
  }
  .logout-mobile {
    margin-bottom: 10px;
  }
}
.language-switcher {
  direction: ltr;
  display: flex;
  justify-content: center;
  background-color: white;
  scale: 0.7;
}

.language-switcher button {
  background-color: #007bff; /* Blue background */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.language-switcher button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.language-switcher button:focus {
  outline: none;
  background-color: #003d80; /* Even darker blue when focused */
}

.language-switcher button.active {
  background-color: #28a745; /* Green background for the active language */
}

.language-switcher button.active:hover {
  background-color: #218838; /* Darker green on hover for active button */
}

[dir="rtl"] label,
[dir="rtl"] input {
  text-align: right;
}

[dir="ltr"] label,
[dir="ltr"] input {
  text-align: left;
}
